body {
background-color: black;
text-align: center;
}

p {
	font-family:"Roboto Condensed";
	font-size:14.5px;
	color:#69828c;
}

a:link, a:visited, a:hover, a:active {
	font-family: "Oswald", Calibri, Arial, sans-serif;
	font-size:24px;
	color:#c9b5b5;
	padding:0px 4px;
}

.stars {
	font-family:arial;
	font-size:14px;
	color:#c9b5b5;
}

.toppy {
	margin-top: 50px;
}

img {
	margin-bottom: 20px;
}